.k-report {
	padding: 10px 0 20px 0	;
	border-bottom: 1px solid #c7c7c7;
	clear: both;
}

.k-myown {
	padding: 10px 0 20px 0	;
	border: none;
	clear: both;
}

.k-report .reporter {
	margin: 0 10px;
	font-size: 18px;
}

.k-thanks {
	margin: 10px 20px 0 20px;
	padding: 0 0 20px 0;
	font-size: 24px;
	text-align: center;
	border-bottom: 1px dotted #c7c7c7;
}

.k-thanks p {
	text-align: left;
	color: #90877d;
	text-align: center;
	font-size: 13px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
.k-report .reporter {
	background: url(/images/user@2x.png) 0 0 no-repeat;
	}
}

.k-report .reporter .name {
	padding: 3px 0 3px 55px;
	background: url(/images/user.png) 0 0 no-repeat;
}

.k-report .reporter .name span {
	display: inline-block;
	float: right;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 11px;
	height: 30px;
	border: 1px solid #000;
}

.k-report .reporter .name span.mmi1 {
	background: #EDF0FF;
	border-color: #AAAEBF;
}

.k-report .reporter .name span.mmi2 {
	background: #AEDAFF;
	border-color: #7B9EBC;
}

.k-report .reporter .name span.mmi4 {
	background: #7EFFE0;
	border-color: #5AB8A1;
}

.k-report .reporter .name span.mmi5 {
	background: #9DFF6C;
	border-color: #7BBE5A;
}

.k-report .reporter .name span.mmi6 {
	background: #FFF300;
	border-color: #98954F;
}

.k-report .reporter .name span.mmi7 {
	background: #FFCA00;
	border-color: #91865D;
}

.k-report .reporter .name span.mmi8 {
	background: #FF7200;
	border-color: #9A5115;
	color: #fff;
	text-shadow: none;
}

.k-report .reporter .name span.mmi9 {
	background: #E10000;
	border-color: #8A0E0E;
	color: #fff;
	text-shadow: none;
}

.k-report .reporter .name span.mmi10 {
	background: #990000;
	border-color: #480000;
	color: #fff;
	text-shadow: none;
}


.k-report .reporter .name p {
	text-align: left;
	color: #90877d;
	font-size: 13px;
}

.k-report .reporter .story {
	position: relative;
	background: #fff;
	margin: 10px 0 0 0;
	border: 1px solid #90877d;
	font-size: 13px;
	line-height: 18px;
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.k-report .reporter .story img {
	position:absolute;
	top: -12px;
	right: 30px;
}

.intensity {
	width: 50px;
	text-align: center;
	padding: 6px 4px 4px 4px;
	float: left;
	background: #81786D url(/images/quake-icon.png) center 27px no-repeat;
	margin: 0 10px 0 0;
	height: 54px;
}

h3.ui-li-heading {
	color: #342F28;
	padding: 2px 0 5px 0 !important;
	margin: 0 !important;
}

.ui-link-inherit p.ui-li-desc {
	text-align: left !important;
	padding: 0 !important;
	margin: 0 !important;
	list-style: none !important;
}












